# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

#Project-specific ignores
/Assets
log.txt
.vs/retour-client/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json

# Test stuff
testlandia/
Scenes/Testing/VRTest.tscn
Scenes/Testing/testlandia.png
Scenes/Testing/testlandia.png.import
