# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.import

# Mono-specific ignores
.mono/

#Project-specific ignores
log.txt
settings.ini

# IDE specific ignores
*.iml

# Making working on windows more feasible
addons/geodot/win*
!addons/geodot/win*/libgeodot.*